@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #4177eb;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  color: #f0f0f0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5em;
  padding: 2em 1em;
  background-color: #11337a;
  box-shadow: 0 0 0 3px #f0f0f0;
}

.text-title {
  margin: 0.1em;
  padding: 0;
}

.text-label {
  margin: 0.3em 0;
  padding: 0;
}

.text-small {
  margin: 0.1em;
  padding: 0;
  font-size: 12px;
}

.btn {
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  color: #f0f0f0;
  background-color: #399106;
}

.btn:hover {
  background-color: #49a713;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #53a5e9;
}

.btn:active {
  box-shadow: 0 0 0 3px #53a5e9;
}

.btn-connect {
  width: 100%;
}

.input {
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  margin: 0.3em 0;
  padding: 0.3em;
  border-radius: 0.2em;
  width: 16em;
  height: 1.5em;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #53a5e9;
}
