@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --color: #eeeeee;
  --bg-color-1: #797979;
  --bg-color-2: #2e67bd;
  --focus-color: #9ec9ec;
  --btn-bg: #4e970a;
  --btn-bg-hover: #59a114;
  --btn-color: #eeeeee;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-1);
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  min-width: fit-content;
  min-height: fit-content;
  color: var(--color);
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.3em;
  margin: auto;
  padding: 1.5em;
  width: 100%;
  max-width: 380px;
  min-width: 150px;
  background-color: var(--bg-color-2);
  border: 2px solid white;
  box-sizing: border-box;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.3em;
  margin: auto;
  padding: 0 1.5em;
  width: 100%;
  max-width: 550px;
  min-width: 180px;
  min-height: 300px;
  background-color: var(--bg-color-2);
  border: 2px solid white;
  box-sizing: border-box;
}

.chatbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 0.2em;
  margin: 1em 0 0 0;
  padding: 0.7em 0.3em;
  width: calc(100% - 0.8em);
  height: 40vh;
  overflow-y: scroll;
  background-color: #f0f0f0;
  border: 1px solid black;
}

.newMessage {
  display: flex;
  width: 100%;
  margin: 1em 0;
}

.form {
  display: flex;
  width: 100%;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.text-title {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.text-label {
  margin: 0.3em 0;
  padding: 0;
}

.text-small {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.text-message {
  font-size: 15px;
}
.text-notification {
  font-size: 15px;
  color: #104600;
}

.text-error {
  color: tomato;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.message {
  color:#2e67bd;
  width: 100%;
  word-break: break-all;
}

.btn {
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  margin: 0.5em 0;
  padding: 0.7em 1em;
  border-radius: 0.2em;
  color: var(--btn-color);
  background-color: var(--btn-bg);
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover:enabled {
  background-color: var(--btn-bg-hover);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--focus-color);
}

.btn:active:enabled {
  box-shadow: 0 0 0 3px var(--focus-color);
}

.btn:disabled {
  background-color: #797979;
}

.btn-connect {
  width: 100%;
}

.btn-send {
  margin: 0;
  font-size: 14px;
  width: 5em;
}

.btn-disconnect {
  margin: 0;
  font-size: 14px;
  margin-top: 0.3em;
  padding: 0.2em 0.4em;
  background-color: #aa0a0a;
}

.btn-disconnect:hover {
  background-color: #be0000;
}

.input {
  border: 1px solid black;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  margin: 0.5em 0;
  padding: 0.7em 0.5em;
  border-radius: 0.2em;
  width: 100%;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--focus-color);
}

.input-newMessage {
  margin: 0 1em 0 0;
  font-size: 14px;
}

hr {
  margin: 0.3em 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #d8d8d8;
}
